<div>
  <button (click)="changeMode('largo')">Detailed Mode</button>
  <button (click)="changeMode('short')">Short Mode</button>
</div>

<div>
  <ul>
    <li *ngFor="let actor of actors">
      {{ actor.firstName }} {{ actor.lastName }}
      <button (click)="retireActor(actor.actorId)">Retire</button>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li *ngFor="let actor of actors">
      {{ actor.firstName }} {{ actor.lastName }}
      <button (click)="deleteActor(actor.actorId)">Delete</button>
    </li>
  </ul>
</div>

<div>
  <button (click)="previousPage()" [disabled]="page === 1">Previous</button>
  <button (click)="nextPage()">Next</button>
</div>

<div *ngIf="successMessage">
  <p>{{ successMessage }}</p>
</div>
<div *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>
